 .head {
  background-color: #813772;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  color: whitesmoke;
   height: 15vh;
} 

.farm {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.industry {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.title {
  text-align: center;
  font-weight: 1000;
}
.logout-btn{
  background-color: aliceblue;
} 
